.exercise_container {
  text-align: center;
}

.exercise_round_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.exercise_round_container div {
  margin: 10px;
}

.exercise_round_container img {
  width: 100%;
}

.exercise_round {
  border: 5px solid #630da7;
  border-radius: 50%;

  cursor: pointer;

  font-size: 40px;

  padding: 30px 35px;
  margin: 15px;
}

.border-red {
  cursor: auto;
  border-color: #f45e5e;
}

.input-group {
  width: 40%;
  margin: auto;
}

.btn-blue {
  background-color: #630da7;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;

  padding: 0.375rem 1.1rem;
}
